* {
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-rows: 200px 0.7fr 1fr 0.7fr;
	grid-template-columns: 200px 1fr 1.2fr;
	grid-template-areas:
	"Music speed. "
	"Challenges MPH. "
	"Phone distance_travelled. ";
	font-family: Verdana, Times New Roman;
}

.space {
	margin-top: 2em;
	display: block;
}

.space2 {
	margin-top: 2em;
	display: block;
}

.space3 {
	margin-top: -5em;
	display: block;
}

.space4 {
	margin-top: 1.2em;
	display: block;
}

.space5 {
	margin-top: 3em;
	display: block;
	background-color: #777272;
	color: #777272;
}

.Music_Challenges {
	background-color: #777272;	
}

.Speed_MPH_distance_travelled {

}

.time {
	grid-row: 40px;
	grid-template-rows: 300px 1.2fr;
	background-color: #777272;
	text-align: left;
	text-indent: 160px;
	font-size: 36px;
	color: white;
}

.lightbulb {
	background-image: url(/lightbulb.jpg);
	background-repeat: no-repeat;
	width: 43px;
	height: 44px;
}

.speed {
  grid-area: speed;
  display: grid;
  width: 240px;
  height: 240px;
  line-height: 150px;
  border-radius: 50%;
  z-index: 0;

  font-size: 110px;
  color: #fff;
  text-align: center;
  margin-left: 1.65em;
  margin-top: 0.2em;
  text-indent: 10px;
  background: #150093;
}

.speed2 {
  width: 250px;
  height: 250px;
  line-height: 150px;
  border-radius: 50%;
  z-index: -1;
  background: #FFC700;
  margin-top: -1.4em;
  margin-left: -0.05em;
}

.MPH {
	grid-area: MPH;
	text-align: center;
	color: white;
	font-size: 20px;
	grid-row: 90px;
	/*margin-left: 9em;*/
}

.distance_travelled {
	grid-area: distance_travelled;
	color: #FFC700;
	text-align: center;
	font-size: 24px;
	grid-row: 80px;
	/*margin-left: 7.5em;*/
}

.pop_up {
	display: grid;
	font-family: Verdana, Times New Roman;
}

.Music {
	grid-area: Music;
	color: white;
	background-color: #777272;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #FFC700;
	font-size: 24px;
}

.Challenges {
	grid-area: Challenges;
	color: white;
	background-color: #777272;
	text-align: center;
	font-size: 24px;
}

.Settings {
	grid-area: Settings;
	text-align: center;
	color: white;
	background-color: #777272;
	font-size: 24px;
}

.light_bulb {
	background-image: url(desktop/light_bulb.jpg);
	padding-top: 68px;
}

.circle_test {
  grid-area: speed;
  display: grid;
  width: 240px;
  height: 240px;
  line-height: 150px;
  border-radius: 50%;
  z-index: 0;	
}

.gauge {
	width: 100%;
	max-width: 260px;
	font-family: Verdana, Times New Roman;
	font-size: 32px;
	color: #FFC700;
	margin-left: 11.65em;
	margin-top: -8em;
}

.gauge_body {
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	background: #b4c0be;
	position: relative;
	border-top-left-radius: 100% 200%;
	border-top-right-radius: 100% 200%;
	overflow: hidden;
	z-index: -1;
}

.gauge_fill {
	position: absolute;
	top: 100%;
	left: 0;
	width: inherit;
	height: 100%;
	background: #009578;
	transform-origin: center top;
	transform: rotate(0.125turn);
	transition: transform 0.2s ease-out;
}

.gauge_cover {
	width: 75%;
	height: 150%;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);

	/* Text */
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 25%;
	box-sizing: border-box;
}

h1 {
	font-family: Verdana, Times New Roman;
	font-size: 36px;
	font-weight: 50;
	text-align: left;
	text-indent: 60px;
	color: gold;
}

p {
	font-family: Verdana, Times New Roman;
}
